<div class="footer">
  <div class="container footer_align">
    <div class="row">
      <div class="col-md-4 col-xs-4">
        <a href="#/about" class="about">About</a>
        <a href="#/contact" class="contact">Contact</a>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="copy-right">
          Ubinion &copy;2015
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <a href="#/privacy" class="privacy">Privacy</a>
        <a href="#/terms" class="terms">Terms</a>             
      </div>
    </div>         
  </div>
</div>